<button (click)="buscaLutas(1)">
    Busca Lutas I
</button>

<br>
<br>

<button (click)="buscaLutas(2)">
    Busca Lutas II
</button>

<br>
<br>

<button (click)="buscaLutas(3)">
    Busca Lutas III
</button>

<br>
<br>

<button (click)="calculaScore()">
    Calcula Score
</button>

<br>
<br>

<button (click)="guardaScore()">
    Guarda Score
</button>

<br>
<br>

<button (click)="guardaScore2()">
    Guarda Score 2
</button>

<br>
<br>

<button (click)="guardaScore3()">
    Guarda Score 3
</button>